body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  gap: 20px;
}

/* Formulário */
.form-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
}

.form-container h2 {
  color: #2f4f2f; /* verde escuro */
}

/* Campos base */
.field {
  margin-bottom: 15px;
}

.field label {
  display: block;
  margin-bottom: 5px;
  color: #2f4f2f;
}

input, select, textarea {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* Linhas agrupadas */
.linha-dupla {
  display: flex;
  gap: 10px;
}

.linha-tripla {
  display: flex;
  gap: 10px;
}

.linha-dupla .small {
  flex: 0 0 20%;
}

.linha-dupla .large {
  flex: 0 0 78%;
}

.linha-tripla .field {
  flex: 1 1 30%;
}

/* Preço venda centralizado */
.field.centro {
  max-width: 40%;
  margin: 0 auto 15px auto;
}

/* Botão */
.submit-container {
  text-align: center;
  margin-top: 20px;
}

button {
  background-color: #2f4f2f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #244022;
}

/* Lista / Cards */
.list-container {
  flex: 1;
}

.list-container h2 {
  color: #2f4f2f;
}

#productCards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.product-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.product-card:hover {
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.product-card h3 {
  margin: 0 0 10px;
  color: #2f4f2f;
}

.product-card p {
  margin: 5px 0;
  color: #333;
}



/* Campo de busca */
.search-box {
  margin-bottom: 15px;
}

.search-box input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  
}

.product-card:hover {
  background: #f3f3f3;
}

.product-card .acoes {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.product-card .acoes button {
  background-color: #2f4f2f;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.product-card .acoes button:hover {
  background-color: #244022;
}

